.header-container {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.123);
    margin-bottom: 10px;

    display: flex;
    align-items: center;


}

.header-main-title {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;

}