.container-filter-buttons {
    display: flex;
    margin: 5px 0px 10px 0px ;
    justify-content: space-between;
    align-items: center;
    
}

.text-nothing-to-show {
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 20px;
}

.wrapper-container-bills-card {
    display: flex;
    flex-direction: column;
}

.container-bills-card {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(44, 44, 44);
    padding: 8px;
    margin: 5px 0px 10px;
    
    display: flex;
    flex-direction: column;
}

.title-date-div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.bill-title{
    display: flex;
    font-size: 20px;
    color: white;
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    align-self: flex-start;
}

.wrapper-billData-billBanco {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.bank-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    
    margin-top: 4px;
    font-size: 12px;
    width: 50px;
    height: 5px;
    background-color: white;
    font-weight: bold;
}

.bank-title.nubank {
    background-color: purple;
    color: white
}

.bank-title.santander {
    background-color: rgb(255, 0, 0);
    
    color: rgb(128, 0, 0);
}

.buyer {
    margin-bottom: 5px;
    color: rgb(175, 175, 175);
}

.wrapper-billCategory-trashIcon {
    display: flex;
    justify-content: space-between;
}

.bill-value {
    color: rgb(175, 175, 175);
}

.bill-category{
    margin-top: 5px;
    color: rgb(175, 175, 175);
    font-size: 12px;
}

.wrapper-trash-icon {
    display: flex;
    justify-content: space-between;
}

.trash-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.blank-space {
    height: 130px;
}



/* Animações da lib */
.bills-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  .bills-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .bills-exit {
    opacity: 1;
    transform: scale(1);
  }
  .bills-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  