:root {
    --card-color: #1E1E2A;
    --success: green;
    --danger: red;
    --text-main: white;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-main);
    padding: 2rem 0;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.stat-card {
    padding: 1.5rem;
    border-radius: 8px;
}

.stat-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin-bottom: 0.5rem;
}

.stat-value {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-main);
}

.income {
    background-color: var(--card-color);
    color: white;
}

.outcome {
    background-color: var(--card-color);
    color: white;
}

.remaining {
    background-color: var(--card-color);
    color: white;
}

.text-success {
    color: var(--success);
}

.text-danger {
    color: var(--danger);
}

.bank-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 2rem 0;

}