.container-filter-buttons {
    display: flex;
    margin: 5px 0px 10px 0px ;
    justify-content: space-between;
    align-items: center;
    
}

.text-nothing-to-show {
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 20px;
}

.wrapper-container-bills-card {
    display: flex;
    flex-direction: column;
}

.container-bills-card {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(44, 44, 44);
    padding: 8px;
    margin: 5px 0px 10px;
    
    display: flex;
    flex-direction: column;
}

.title-date-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.bill-title{
    font-size: 20px;
    color: white;
}

.buyer {
    margin-bottom: 5px;
    color: rgb(175, 175, 175);
}

.wrapper-billCategory-trashIcon {
    display: flex;
    justify-content: space-between;
}

.bill-value {
    color: rgb(175, 175, 175);
}

.bill-category{
    margin-top: 5px;
    color: rgb(175, 175, 175);
    font-size: 12px;
}

.wrapper-trash-icon {
    display: flex;
    justify-content: space-between;
}

.trash-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}