.container-filter-buttons {
    display: flex;
    margin: 5px 0px 10px 0px ;
    justify-content: space-between;
    align-items: center;
    
}

.text-nothing-to-show {
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 20px;
}

.wrapper-container-bills-card {
    display: flex;
    flex-direction: column;
}

.container-bills-card {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    padding: 8px;
    margin: 5px 0px 10px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.title-value-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.bill-value:hover {
    cursor: pointer;
}

.estab-form-pag-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.wrapper-categ-trash-icon {
    display: flex;
    justify-content: space-between;
}

.trash-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}