.wrapper-filter-buttons {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    padding-inline: 10px;
    margin-inline: -10px;
    scrollbar-width: none;
}

.wrapper-filter-buttons::-webkit-scrollbar {
    display: none;
}

.wrapper-filter-buttons > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    padding: 15px;
    max-height: 35px;
    background-color: #26353D;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.wrapper-filter-buttons > button:hover {
    cursor: pointer;
    background-color: hsla(130, 100%, 59%, 0.226);
    color: hsla(130, 100%, 59%, 0.7);
}