.wrapper-filter-buttons {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    padding-inline: 10px;
    margin-inline: -10px;
    scrollbar-width: none;
}

.wrapper-filter-buttons::-webkit-scrollbar {
    display: none;
}

.wrapper-filter-buttons>button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    padding: 15px;
    max-height: 35px;
    background-color: #26353D;
    color: #A0A0B0;
    font-size: 14px;
    font-weight: bold;
}

.wrapper-filter-buttons>button:hover {
    cursor: pointer;
    background-color: hsla(130, 100%, 59%, 0.226);
    color: hsla(130, 100%, 59%, 0.7);
}

#filter-button-santander-livia:hover,
#filter-button-santander-william:hover,
#filter-button-nubank-william:hover,
#filter-button-nubank-livia:hover {
    cursor: pointer;
    background-color: hsla(130, 100%, 59%, 0.226);
    color: hsla(130, 100%, 59%, 0.7);
}

#filter-button-santander-livia {
    color: red;
    background-color: rgba(105, 43, 43, 0.356);
}

#filter-button-santander-william {
    color: red;
    background-color: rgba(105, 43, 43, 0.356);
}

#filter-button-nubank-livia {
    color: purple;
    background-color: rgba(134, 36, 134, 0.219);
}

#filter-button-nubank-william {
    color: purple;
    background-color: rgba(134, 36, 134, 0.219);
}

.filter-button {
    background-color: #222;
    border: none;
    padding: 8px 12px;
    margin: 4px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.filter-button.active {
    background-color: hsla(130, 100%, 59%, 0.226);
    color: hsla(130, 100%, 59%, 0.7);
    font-weight: bold;
}