/* FAB flutuante para adicionar conta */
.fab-add-button {
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    background-color: #1f9725;
    color: white;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.fab-add-button:hover {
    transform: scale(1.1);
}

/* Overlay escuro por trás do modal */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1500;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open.modal-overlay {
    opacity: 1;
}

.ReactModal__Overlay--before-close.modal-overlay {
    opacity: 0;
}

/* Estilo do modal */
.create-bill-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    background-color: #111213;
    color: white;
    border-radius: 10px;

    max-height: 90vh;
    width: 80%;
    overflow-y: auto;
    border: 1px solid rgb(44, 44, 44);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 2000;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.ReactModal__Content--after-open.create-bill-modal {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.ReactModal__Content--before-close.create-bill-modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
}

/* Container do form no modal */
.wrapper-create-bill-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Responsivo para telas maiores */
@media (min-width: 767px) {
    .create-bill-modal {
        max-width: 550px;
    }

    .fab-add-button {
        right: 6rem;
    }
}